
header {
    background-color:darkgoldenrod; 
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.navbar {
    overflow:hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover{
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}


body {
    background-color:lightgray;
}

.bienvenida {
    text-align: center;
}

/* Para analisis.html*/
.flexbox-container {
    
    display: flex;
    justify-content:space-around;
}

.rownr {
    overflow-y: hidden; 
    background-color: #04AA6D; 
    color: white; 
    text-align: right; 
    vertical-align:top;
    
}
.txt {
    
    overflow-x: scroll; 
   
}

.btnA {
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    background-color: #008CBA;
    
}

table, td, th {
    border: 1px solid black;
  }
/*div textarea{
    background-color:black ;
    display: inline-block;
}*/